{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block content %}
  <h1>{{ group.title }}</h1>
  <p>{{ group.description|linebreaksbr}}</p>
    {% for post in page_obj %}
      <article>
        {% include 'includes/ul.html' %}
        {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
          <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p>{{ post.text|linebreaksbr }}</p> 
        <p>
          <a button class="btn btn" style="background: black; color: #fff;" 
            href="{% url 'posts:post_detail' post.pk %}">подробная информация
          </a>
        </p>   
        {% if not forloop.last %}<hr>{% endif %}
      </article>
    {% endfor %} 
    {% include 'posts/includes/paginator.html' %}
{% endblock %}