{% extends 'base.html' %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block content %}
  <h1>{{ group.title }}</h1>
  <p>{{ group.description|linebreaksbr}}</p>
    {% for post in page_obj %}
      <article>
        {% include 'includes/ul.html' %}
        {% include 'posts/includes/image.html' %}
        <p>{{ post.text|linebreaksbr }}</p> 
        <p>
          <a class="href-btn" href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
        </p>   
        {% if not forloop.last %}<hr>{% endif %}
      </article>
    {% endfor %} 
    {% include 'posts/includes/paginator.html' %}
{% endblock %}